@color-primary: #009efb;
@color-adorn: #45b685;

@color-gray: #d1d3d6;
@color-gray-light-1: lighten(@border-color, 4);
@color-gray-light-2: lighten(@border-color, 6);
@color-gray-light-3: lighten(@border-color, 8);
@color-gray-light-4: lighten(@border-color, 10);
@color-gray-light-5: lighten(@border-color, 12);

@border-color: @color-gray;
@logo-text-color: #fff;
@sidebar-background-color: #e9e9ea;
@main-background-color: #fafafa;

@sidebar-width: 280px;
@gap-size: 16px;
